<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcN1PIgf-_v6ekms947gr9nVOVwHGAf_0</string>
	<key>GCM_SENDER_ID</key>
	<string>307711161537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eazytalksplash</string>
	<key>PROJECT_ID</key>
	<string>eazytalk-5ed0d</string>
	<key>STORAGE_BUCKET</key>
	<string>eazytalk-5ed0d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307711161537:ios:7ad97565168fe1c44d5040</string>
</dict>
</plist>